.NavigationBar {
  --themeColor: rgb(79, 141, 235);
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid lightgray;
  background-color: white;
  position: sticky;
  /* backface-visibility: none; */
  top: 0;
  z-index: 100;
  left: 0;
}
.Logo {
  font-weight: 400;
  font-size: 1.5rem;
  background-color: red;
  padding: 1.5rem 0.5rem;
  color: white;
}
.NavigationBar_Tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.NavigationBar_Tab {
  position: relative;
  margin: 0 1rem;

  padding: 1rem;
}
.NavigationBar_Tab i {
  padding: 0.3rem;
}
.NavigationBar_Tab:hover:not(.LoginBtn) {
  color: var(--themeColor);
  border-bottom: 2px solid var(--themeColor);
}

.NavigationBar_DropDown_content {
  /* height: 0; */
  display: none;
  z-index: 1;
  background-color: white;
  /* width: 120%; */
  top: 90%;
  transition: all 0.5s ease-out;
  left: 0;
  color: black;
  /* padding: 0.5rem; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), 4px 2px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
}
.NavigationBar_DropDown_content div {
  /* display: block; */
  min-width: 200px;
  max-width: 250px;
  padding: 1rem 1rem;
  text-align: start;
}
.NavigationBar_DropDown_content div:hover {
  background-color: var(--themeColor);
  color: white;
}
.NavigationBar_Tab:hover .NavigationBar_DropDown_content,
.NavigationBar_DropDown_content:hover {
  display: block;
}

.LoginBtn {
  background-color: var(--themeColor);
  border-radius: 30px;
  letter-spacing: 4px;
  color: white;
  padding: 1rem 2rem;
}

.NavigationBar_hamburgerMenu {
  position: relative;
}
.NavigationBar_hamburgerMenu:hover .NavigationBar_hamburgerMenu_DropDown {
  display: flex;
}
.NavigationBar_hamburgerMenu_DropDown {
  display: none;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.NavigationBar_hamburgerMenu_DropDown > div {
  padding: 0.5rem;
  position: relative;
}
.NavigationBar_hamburgerMenu_DropDown i {
  margin: 0 0.5rem;
}

.NavigationBar_hamburgerMenu_DropDown .LoginBtn {
  margin-top: 1rem;
  border-radius: 0;
}

.NavigationBar_hamburgerMenu_DropDown_content {
  position: absolute;
  left: 40%;
  display: none;
  width: 100%;
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  top: 0;
}
.NavigationBar_hamburgerMenu_DropDown_content > div {
  padding: 1rem;
}
.NavigationBar_hamburgerMenu_DropDown_content > div:hover {
  background-color: var(--themeColor);
  color: white;
}
.NavigationBar_hamburgerMenu_tab2:hover
  .NavigationBar_hamburgerMenu_DropDown_content {
  display: block;
}
.NavigationBar_hamburgerMenu_tab1:hover
  .NavigationBar_hamburgerMenu_DropDown_content {
  display: block;
}
.NavigationBar_hamburgerMenu {
  display: none;
}
.NavigationBar_hamburgerMenu_tab1,
.NavigationBar_hamburgerMenu_tab2,
.NavigationBar_hamburgerMenu_tab3,
.NavigationBar_hamburgerMenu_tab4 {
  display: none;
}
@media screen and (max-width: 1000px) {
  .NavigationBar_Tab:nth-child(4) {
    display: none;
  }
  .NavigationBar_hamburgerMenu {
    display: flex;
  }
  .NavigationBar_hamburgerMenu_tab4 {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .NavigationBar_Tab:nth-child(4),
  .NavigationBar_Tab:nth-child(3) {
    display: none;
  }

  .NavigationBar_hamburgerMenu_tab4,
  .NavigationBar_hamburgerMenu_tab3 {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .NavigationBar_Tab:nth-child(4),
  .NavigationBar_Tab:nth-child(3),
  .NavigationBar_Tab:nth-child(2) {
    display: none;
  }

  .NavigationBar_hamburgerMenu_tab4,
  .NavigationBar_hamburgerMenu_tab3,
  .NavigationBar_hamburgerMenu_tab2 {
    display: block;
  }
}
@media screen and (max-width: 430px) {
  .NavigationBar_Tab {
    display: none;
  }

  .NavigationBar_hamburgerMenu_tab4,
  .NavigationBar_hamburgerMenu_tab3,
  .NavigationBar_hamburgerMenu_tab2,
  .NavigationBar_hamburgerMenu_tab1 {
    display: block;
  }
}
